.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0;
}

.container li {
    list-style: none;
}

.container li button {
    width: 6.5rem;
    height: 4rem;
    background-color: white;
    border: none;
}