.container {
    display: flex;
    justify-content: flex-end;
}

.container button {
    border: 1px solid black;
    background-color: #A4CDDE;
}

.container div {
    margin-left: 2.5rem;
    padding: 0.5rem;
    background-color: #FFF76E;
}

