.container {
    background-color: #f9c4d2;
    height: 13rem;
    border-radius: 1rem;
    color: #382b22;
    margin-bottom: 1rem;
}

.question {
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    font-size: 5rem;
}

@media  screen and (max-width: 550px) {
    .question {
        font-size: 3rem;
    }
}